{% extends 'core/base.html' %} {% block content %}
{% load static %}
{% block extrastyle %}
<style>
    .table>tbody>tr>td {
        padding-top: 3;
        padding-bottom: 3;
        vertical-align: middle;
    } 
</style>
{% endblock extrastyle %}
<div class="container">
    <div class="fs-1 text-center p-2">
        <h2>Pafish</h2>
    </div>
    <table id="table_list" class="table table-bordered compact nowrap ">
        <thead>
            <tr>
                <th scope="col" class="text-center table-primary">Execution</th>
                <th scope="col" class="text-center table-primary">IP</th>
                <th scope="col" class="text-center table-primary">Sandbox</th>
                <th scope="col" class="text-center table-primary">Output</th>
                <th scope="col" class="text-center table-primary">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for elem in pafish_l %}
            <tr>
                <td class="">{{elem.executionId}}</td>
                <td scope="row"><span data-html="true" data-toggle="tooltip" data-placement="top"
                        title="Country: {{elem.ip_country_code}} - ASN Desc: {{elem.ip_asn_description}}">{{elem.ip}}</span>
                </td>
                <td class="">{{elem.sandboxId|title}} (w{{elem.wave}})</td>
                <td scope="row" class="text-center">
                    {% if elem.pafish|length > 1%}
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#pafish_{{elem.executionId}}" aria-expanded="false" aria-controls="pafish_{{elem.executionId}}">
                        Show
                      </button>
                      <div class="collapse" id="pafish_{{elem.executionId}}">
                        <div class="card card-body text-justify">
                                {% for e in elem.pafish %}
                                {{e}}<br>
                                {% endfor %}
                        </div>
                      </div>
                    {%endif%}
                </td>
                <td scope="row" class="text-center">{{elem.creation_date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
    $(document).ready(function() {
        var table = $('#table_list').DataTable({
        "bLengthChange": true,
        "pageLength": 10,
        "deferRender": true,
        "columnDefs": [{
            "targets": "_all"
        }],
        "order": [[ 4, "desc" ]]
    });
    });
</script>
{% endblock %}